# Table of contents:
* [Part 1. Get data from the meetup API](#part1)
* [Part 2. Market basket analysis on interest topics](#part2)
* [Part 3. Webscraping](#part3)

# Part 1. Get data from the meetup API <a class="anchor" id="part1"></a>

## Preparation

### Import libraries

In [1]:
import requests
import json
import pandas as pd
import time

### Set up your API key
Replace the below with your own API key
- Go to https://secure.meetup.com/meetup_api/key/
- Copy and paste the API key into the string below

In [51]:
api_key = "INSERTYOURAPIKEY"

## 1. Get a list of members 

Define the meetup group name

In [3]:
meetup_group = 'Actuaries-Social-Networking-Group'

In [4]:
offset = 0

Params (a Python dictionary) - tells the Meetup API what data we need

In [5]:
params={"group_urlname": meetup_group, "key":api_key, "offset": offset}

In [6]:
requests.get("http://api.meetup.com/2/members",params=params)

**Response 200**

From Wkikipedia https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

> 200 OK
Standard response for successful HTTP requests. The actual response will depend on the request method used. In a GET request, the response will contain an entity corresponding to the requested resource. In a POST request, the response will contain an entity describing or containing the result of the action.[9]

In [7]:
request = requests.get("http://api.meetup.com/2/members",params=params)

In [8]:
data = request.json()
data['results'][0]

{'city': 'Sydney',
 'country': 'au',
 'id': 183571308,
 'joined': 1508793453000,
 'lat': -33.87,
 'link': 'http://www.meetup.com/members/183571308',
 'lon': 151.21,
 'name': '~.~ Yennie~.~',
 'other_services': {},
 'photo': {'base_url': 'https://secure.meetupstatic.com',
  'highres_link': 'https://secure.meetupstatic.com/photos/member/6/d/3/e/highres_272967966.jpeg',
  'photo_id': 272967966,
  'photo_link': 'https://secure.meetupstatic.com/photos/member/6/d/3/e/member_272967966.jpeg',
  'thumb_link': 'https://secure.meetupstatic.com/photos/member/6/d/3/e/thumb_272967966.jpeg',
  'type': 'member'},
 'self': {'common': {}},
 'status': 'active',
 'topics': [],
 'visited': 1523225604000}

In [9]:
data['results'][1]

{'city': 'Sydney',
 'country': 'au',
 'id': 135088032,
 'joined': 1510106190000,
 'lat': -33.87,
 'link': 'http://www.meetup.com/members/135088032',
 'lon': 151.21,
 'name': 'Aaliya ',
 'other_services': {},
 'self': {'common': {}},
 'status': 'active',
 'topics': [],
 'visited': 1529982516000}

In [10]:
len(data['results'])

200

In [11]:
data['results'][199]

{'city': 'Sydney',
 'country': 'au',
 'id': 250607557,
 'joined': 1521543065000,
 'lat': -33.87,
 'link': 'http://www.meetup.com/members/250607557',
 'lon': 151.21,
 'name': 'Rimz ',
 'other_services': {},
 'self': {'common': {}},
 'status': 'active',
 'topics': [{'id': 130, 'name': 'Latin Music', 'urlkey': 'latinmusic'},
  {'id': 36229, 'name': 'Creativity', 'urlkey': 'creative'},
  {'id': 24854, 'name': 'Social Dancing', 'urlkey': 'social-dancing'},
  {'id': 608402, 'name': 'Book writing', 'urlkey': 'book-writing'},
  {'id': 17437, 'name': 'Water Sports', 'urlkey': 'water-sports'},
  {'id': 25375, 'name': 'Exercise', 'urlkey': 'excercise'},
  {'id': 1954, 'name': 'Innovation', 'urlkey': 'innovation'},
  {'id': 933, 'name': 'Walking', 'urlkey': 'walkers'},
  {'id': 22056, 'name': 'Hooping', 'urlkey': 'hooping'},
  {'id': 3880, 'name': 'Professional Development', 'urlkey': 'prodev'},
  {'id': 15401, 'name': 'Social Media', 'urlkey': 'social-media'},
  {'id': 1322, 'name': 'Meditation', 'urlkey': 'meditation'},
  {'id': 10538, 'name': 'Business Intelligence', 'urlkey': 'businessintell'},
  {'id': 16179,
   'name': 'International Travel',
   'urlkey': 'international-travel'},
  {'id': 16438, 'name': 'Weekend Adventures', 'urlkey': 'weekend-adventures'},
  {'id': 567, 'name': 'Screenwriting', 'urlkey': 'screenwriters'},
  {'id': 15672, 'name': 'Outdoor  Fitness', 'urlkey': 'outdoor-fitness'},
  {'id': 186, 'name': 'Photoshop', 'urlkey': 'photoshop'},
  {'id': 20923,
   'name': 'Communication Skills',
   'urlkey': 'communication-skills'},
  {'id': 21437, 'name': 'Fashion Design', 'urlkey': 'fashion-design'},
  {'id': 16575, 'name': 'Fashion and Style', 'urlkey': 'fashion-and-style'},
  {'id': 10306, 'name': 'Wellness', 'urlkey': 'wellness'},
  {'id': 15046, 'name': 'Outdoors', 'urlkey': 'outdoors'},
  {'id': 10567, 'name': 'Beach', 'urlkey': 'beach'},
  {'id': 1481, 'name': 'Makeup', 'urlkey': 'makeup'},
  {'id': 19146, 'name': 'Dance Lessons', 'urlkey': 'dance-lessons'},
  {'id': 8652, 'name': 'Live Music', 'urlkey': 'livemusic'},
  {'id': 23884,
   'name': 'Cultural Activities',
   'urlkey': 'cultural-activities'},
  {'id': 206, 'name': 'Digital Photography', 'urlkey': 'digcam'},
  {'id': 16207, 'name': 'Travel Photography', 'urlkey': 'travel-photography'},
  {'id': 849, 'name': 'Philosophy', 'urlkey': 'philosophy'},
  {'id': 9429, 'name': 'Storytelling', 'urlkey': 'storytelling'},
  {'id': 16600, 'name': 'Nature Photography', 'urlkey': 'nature-photography'},
  {'id': 15322, 'name': 'Creative Writing', 'urlkey': 'creative-writing'},
  {'id': 223, 'name': 'Photography', 'urlkey': 'photo'},
  {'id': 9696, 'name': 'New Technology', 'urlkey': 'newtech'},
  {'id': 1122, 'name': 'Salsa', 'urlkey': 'salsa'},
  {'id': 23778, 'name': 'Dinner and a Movie', 'urlkey': 'dinner-and-a-movie'},
  {'id': 17635, 'name': 'Business Strategy', 'urlkey': 'business-strategy'},
  {'id': 131178,
   'name': 'Recreational Sports',
   'urlkey': 'recreational-sports'},
  {'id': 23274, 'name': 'Theater', 'urlkey': 'live-theatre'},
  {'id': 15083,
   'name': 'Intellectual Discussion',
   'urlkey': 'intellectual-discussion'},
  {'id': 18795, 'name': 'Fun and Laughter', 'urlkey': 'fun-and-laughter'},
  {'id': 25964, 'name': 'Bollywood Dancing', 'urlkey': 'bollywood-dancing'},
  {'id': 2926, 'name': 'Tennis', 'urlkey': 'tennis'},
  {'id': 34160, 'name': 'Dance and Movement', 'urlkey': 'dance-and-movement'},
  {'id': 108403,
   'name': 'Technology Startups',
   'urlkey': 'technology-startups'},
  {'id': 242, 'name': 'Fitness', 'urlkey': 'fitness'},
  {'id': 65780, 'name': 'Knowledge Sharing', 'urlkey': 'knowledge-sharing'},
  {'id': 3833, 'name': 'Software Development', 'urlkey': 'softwaredev'}],
 'visited': 1521543065000}

## 2. Get a list of groups

https://www.meetup.com/meetup_api/docs/find/groups/

> country: A valid two character country code, defaults to US

> location: Raw text location query

> text: Raw full text search query

> upcoming_events: If true, filters text and category based searches on groups that have upcoming events. Defaults to false

In [12]:
params={"country": "Australia", "location": "Sydney", "text": "Actuarial", "upcoming_events": 1, "key":api_key, "offset": offset}

In [13]:
request = requests.get("http://api.meetup.com/find/groups",params=params)
data = request.json()

In [14]:
len(data)

3

In [15]:
data[0]

{'category': {'id': 2,
  'name': 'Career & Business',
  'shortname': 'career-business',
  'sort_name': 'Career & Business'},
 'city': 'Sydney',
 'country': 'AU',
 'created': 1503967251000,
 'description': '<p>It’s been said that more than 80% of jobs are landed through networking rather than traditional job application methods. Expensive MBA programs are sought after for the value of its alumni network more so than the content of the program. As well as improving job prospects or accessing business opportunities, networking can provide the opportunity to: <br>• create new relationships and build on existing relationships; <br>• share knowledge and ideas; <br>• gain and provide advice and support.</p>\n<p>The New Social Networking Committee Goals <br>The newly formed Social Networking Group’s (SNG) aims to provide Actuaries Institute members with opportunities to network and connect with each other as well as those in non-actuarial but related communities. We plan to hold events that <br>• focus on building skills <br>• as well as social events that allows members to expand their network. <br>All our events will be relaxed and accessible and there will be plenty of opportunities for members to participate.</p>',
 'id': 25686650,
 'join_mode': 'open',
 'key_photo': {'base_url': 'https://secure.meetupstatic.com',
  'highres_link': 'https://secure.meetupstatic.com/photos/event/7/3/b/7/highres_466049623.jpeg',
  'id': 466049623,
  'photo_link': 'https://secure.meetupstatic.com/photos/event/7/3/b/7/600_466049623.jpeg',
  'thumb_link': 'https://secure.meetupstatic.com/photos/event/7/3/b/7/thumb_466049623.jpeg',
  'type': 'event'},
 'lat': -33.87,
 'link': 'https://www.meetup.com/Actuaries-Social-Networking-Group/',
 'localized_country_name': 'Australia',
 'localized_location': 'Sydney, Australia',
 'lon': 151.21,
 'members': 255,
 'meta_category': {'category_ids': [2],
  'id': 522,
  'name': 'Career & Business',
  'photo': {'base_url': 'https://secure.meetupstatic.com',
   'highres_link': 'https://secure.meetupstatic.com/photos/event/2/e/9/7/highres_450131927.jpeg',
   'id': 450131927,
   'photo_link': 'https://secure.meetupstatic.com/photos/event/2/e/9/7/600_450131927.jpeg',
   'thumb_link': 'https://secure.meetupstatic.com/photos/event/2/e/9/7/thumb_450131927.jpeg',
   'type': 'event'},
  'shortname': 'career-business',
  'sort_name': 'Career & Business'},
 'name': 'Social Networking Actuaries Group',
 'next_event': {'id': '250082409',
  'name': 'Post ST9 & ST1 exam Results Drinks - SYDNEY',
  'time': 1531467000000,
  'utc_offset': 36000000,
  'yes_rsvp_count': 6},
 'organizer': {'bio': '',
  'id': 235119079,
  'name': 'Social Networking Actuaries Grou',
  'photo': {'base_url': 'https://secure.meetupstatic.com',
   'highres_link': 'https://secure.meetupstatic.com/photos/member/5/6/b/4/highres_270142196.jpeg',
   'id': 270142196,
   'photo_link': 'https://secure.meetupstatic.com/photos/member/5/6/b/4/member_270142196.jpeg',
   'thumb_link': 'https://secure.meetupstatic.com/photos/member/5/6/b/4/thumb_270142196.jpeg',
   'type': 'member'}},
 'score': 4635.0,
 'state': '',
 'status': 'active',
 'timezone': 'Australia/Sydney',
 'untranslated_city': 'Sydney',
 'urlname': 'Actuaries-Social-Networking-Group',
 'visibility': 'public',
 'who': 'Members'}

In [16]:
data[0]['description']

'<p>It’s been said that more than 80% of jobs are landed through networking rather than traditional job application methods. Expensive MBA programs are sought after for the value of its alumni network more so than the content of the program. As well as improving job prospects or accessing business opportunities, networking can provide the opportunity to: <br>• create new relationships and build on existing relationships; <br>• share knowledge and ideas; <br>• gain and provide advice and support.</p>\n<p>The New Social Networking Committee Goals <br>The newly formed Social Networking Group’s (SNG) aims to provide Actuaries Institute members with opportunities to network and connect with each other as well as those in non-actuarial but related communities. We plan to hold events that <br>• focus on building skills <br>• as well as social events that allows members to expand their network. <br>All our events will be relaxed and accessible and there will be plenty of opportunities for members to participate.</p>'

## 3. Create a dataset containing members for Actuaries-Social-Networking-Group

In [17]:
def get_results(params):
    request = requests.get("http://api.meetup.com/2/members",params=params)
    data = request.json()
    return data

In [18]:
meetup_group = "Actuaries-Social-Networking-Group"
offset = 0

members = []

while True:
    params={"key":api_key, "group_urlname": meetup_group, "offset": offset}
    data = get_results(params)
    members = members + data['results']
    offset += 1
    if (data['meta']['count'] < 200):
        break

In [19]:
len(members)

255

In [20]:
members_actuaries = pd.DataFrame(members)
members_actuaries.head(5)

,bio,city,country,hometown,id,joined,lat,link,lon,name,other_services,photo,self,state,status,topics,visited
0,NaN,Sydney,au,NaN,183571308,1508793453000,-33.87,http://www.meetup.com/members/183571308,151.21,~.~ Yennie~.~,{},"{'photo_id': 272967966, 'thumb_link': 'https:/...",{'common': {}},NaN,active,[],1523225604000
1,NaN,Sydney,au,NaN,135088032,1510106190000,-33.87,http://www.meetup.com/members/135088032,151.21,Aaliya,{},NaN,{'common': {}},NaN,active,[],1529982516000
2,NaN,Sydney,au,NaN,241907698,1511303242000,-33.87,http://www.meetup.com/members/241907698,151.21,Actuaries Institute,{},"{'photo_id': 272587010, 'thumb_link': 'https:/...",{'common': {}},NaN,active,"[{'urlkey': 'newtech', 'name': 'New Technology...",1526019175000
3,NaN,Sydney,au,NaN,247276855,1517448537000,-33.87,http://www.meetup.com/members/247276855,151.21,Adam Stolz,{},"{'photo_id': 274345498, 'thumb_link': 'https:/...",{'common': {}},NaN,active,[],1519079045000
4,NaN,Sydney,au,Holswothy,212140028,1529474713000,-33.87,http://www.meetup.com/members/212140028,151.21,Aki,{},"{'photo_id': 277138214, 'thumb_link': 'https:/...",{'common': {}},NaN,active,[],1529474713000

## 4. Get members list for Data-Science-Sydney

In [21]:
meetup_group = "Data-Science-Sydney"

offset = 0
members = []

while True:
    params={"key":api_key, "group_urlname": meetup_group, "offset": offset}
    data = get_results(params)
    members = members + data['results']
    offset += 1
    if (data['meta']['count'] < 200):
        break  
    time.sleep(1)

In [22]:
members_data_scientists = pd.DataFrame(members)

In [23]:
members_data_scientists.head()

,bio,city,country,hometown,id,joined,lang,lat,link,lon,name,other_services,photo,self,state,status,topics,visited
0,NaN,London,gb,NaN,231143059,1499260244000,NaN,51.52,http://www.meetup.com/members/231143059,-0.10,Marina leone,{},"{'photo_id': 268485916, 'thumb_link': 'https:/...",{'common': {}},17,active,"[{'urlkey': 'japanese', 'name': 'japanese-lang...",1499260244000
1,NaN,Byron Bay,au,"Hamburg, Germany",194947725,1503395766000,NaN,-28.66,http://www.meetup.com/members/194947725,153.61,Sven Meyer,{'twitter': {'identifier': '@SvenMeyer'}},"{'photo_id': 251026047, 'thumb_link': 'https:/...",{'common': {}},NaN,active,"[{'urlkey': 'machine-learning', 'name': 'Machi...",1527763634000
2,NaN,Wollongong,au,NaN,198506384,1486437706000,NaN,-34.42,http://www.meetup.com/members/198506384,150.87,'George,{},"{'photo_id': 254448015, 'thumb_link': 'https:/...",{'common': {}},NaN,active,"[{'urlkey': 'innovation', 'name': 'Innovation'...",1506984115000
3,NaN,Campbelltown,au,NaN,194852817,1489312975000,NaN,-34.07,http://www.meetup.com/members/194852817,150.81,(legramira),{},"{'photo_id': 250976907, 'thumb_link': 'https:/...",{'common': {}},NaN,active,"[{'urlkey': 'computer-programming', 'name': 'C...",1509590938000
4,NaN,Sydney,au,NaN,238683241,1507770594000,NaN,-33.87,http://www.meetup.com/members/238683241,151.21,(Ria) Christina Hateley,{},"{'photo_id': 271453052, 'thumb_link': 'https:/...",{'common': {}},NaN,active,"[{'urlkey': 'newtech', 'name': 'New Technology...",1511942158000

# Part 2. Market basket analysis on interest topics <a class="anchor" id="part2"></a>

### Compare the community size

In [24]:
members_actuaries.shape, members_data_scientists.shape

((255, 17), (4948, 18))

Combine the two data frames

In [25]:
members_actuaries['Group'] = 'Actuaries'
members_data_scientists['Group'] = 'Data Scientists'

In [26]:
members_df = pd.concat([members_actuaries, members_data_scientists], axis=0)
members_df.shape

(5203, 19)

In [27]:
members_df.head()

,Group,bio,city,country,hometown,id,joined,lang,lat,link,lon,name,other_services,photo,self,state,status,topics,visited
0,Actuaries,NaN,Sydney,au,NaN,183571308,1508793453000,NaN,-33.87,http://www.meetup.com/members/183571308,151.21,~.~ Yennie~.~,{},"{'photo_id': 272967966, 'thumb_link': 'https:/...",{'common': {}},NaN,active,[],1523225604000
1,Actuaries,NaN,Sydney,au,NaN,135088032,1510106190000,NaN,-33.87,http://www.meetup.com/members/135088032,151.21,Aaliya,{},NaN,{'common': {}},NaN,active,[],1529982516000
2,Actuaries,NaN,Sydney,au,NaN,241907698,1511303242000,NaN,-33.87,http://www.meetup.com/members/241907698,151.21,Actuaries Institute,{},"{'photo_id': 272587010, 'thumb_link': 'https:/...",{'common': {}},NaN,active,"[{'urlkey': 'newtech', 'name': 'New Technology...",1526019175000
3,Actuaries,NaN,Sydney,au,NaN,247276855,1517448537000,NaN,-33.87,http://www.meetup.com/members/247276855,151.21,Adam Stolz,{},"{'photo_id': 274345498, 'thumb_link': 'https:/...",{'common': {}},NaN,active,[],1519079045000
4,Actuaries,NaN,Sydney,au,Holswothy,212140028,1529474713000,NaN,-33.87,http://www.meetup.com/members/212140028,151.21,Aki,{},"{'photo_id': 277138214, 'thumb_link': 'https:/...",{'common': {}},NaN,active,[],1529474713000

In [28]:
members_df['Group'].value_counts()

Data Scientists    4948
Actuaries           255
Name: Group, dtype: int64

### How many members are in both groups?

In [29]:
members_df.duplicated(['id']).sum()

20

In [30]:
members_df[members_df.duplicated(['id'])][['name', 'topics']]

,name,topics
685,Bill Konstantinidis,"[{'urlkey': 'brisbane', 'name': 'brisbane', 'i..."
1172,De.Leng11,"[{'urlkey': 'presentations', 'name': 'Presenta..."
1193,deetee,[]
1239,Dimitri Konstantinidis,[]
1688,Henry Ye,"[{'urlkey': 'data-analytics', 'name': 'Data An..."
2028,Jerry Liu,"[{'urlkey': 'coffee', 'name': 'Coffee', 'id': ..."
2151,John Low,"[{'urlkey': 'prodev', 'name': 'Professional De..."
2327,Karandeep S Chadha,"[{'urlkey': 'sportsfans', 'name': 'Sports Fan'..."
2400,Kevin,[]
2485,Kumar Visalakshi Sekar,"[{'urlkey': 'digcam', 'name': 'Digital Photogr..."
2550,Leonard Seok,[]
2976,Michael Storozhev,"[{'urlkey': 'newtech', 'name': 'New Technology..."
3663,Rene Essomba,"[{'urlkey': 'musicians', 'name': 'Musicians', ..."
3717,Richard Zheng,"[{'urlkey': 'wellness', 'name': 'Wellness', 'i..."
3786,Roger Yu,"[{'urlkey': 'language', 'name': 'Language & Cu..."
4071,Seonghoon kwon,[]
4282,Stacey Xi Lin,"[{'urlkey': 'sports', 'name': 'Sports and Recr..."
4448,Tarun Sharma,[]
4888,Yolanda Ou,"[{'urlkey': 'classical', 'name': 'Classical Mu..."
4944,Zoran Naumovski,[]

In [31]:
members_df.dtypes

Group              object
bio                object
city               object
country            object
hometown           object
id                  int64
joined              int64
lang               object
lat               float64
link               object
lon               float64
name               object
other_services     object
photo              object
self               object
state              object
status             object
topics             object
visited             int64
dtype: object

Display every column

In [32]:
pd.set_option('display.max_colwidth', -1)

### Market basket analysis on interest topics
This is based on http://pbpython.com/market-basket-analysis.html

Create a list of interested topics and store it in a separate column

In [33]:
members_df['topics2'] = members_df['topics'].apply(lambda x : [item['name'] for item in x])

In [34]:
members_df[['name', 'topics', 'topics2']].head(6)

,name,topics,topics2
0,~.~ Yennie~.~,[],[]
1,Aaliya,[],[]
2,Actuaries Institute,"[{'urlkey': 'newtech', 'name': 'New Technology', 'id': 9696}, {'urlkey': 'wellness', 'name': 'Wellness', 'id': 10306}, {'urlkey': 'business-networking', 'name': 'professional-networking', 'id': 15236}, {'urlkey': 'education', 'name': 'Education', 'id': 8476}, {'urlkey': 'data-analytics', 'name': 'Data Analytics', 'id': 30928}, {'urlkey': 'knowledge-sharing', 'name': 'Knowledge Sharing', 'id': 65780}, {'urlkey': 'prodev', 'name': 'Professional Development', 'id': 3880}, {'urlkey': 'intellectual-discussion', 'name': 'Intellectual Discussion', 'id': 15083}, {'urlkey': 'communication-skills', 'name': 'Communication Skills', 'id': 20923}, {'urlkey': 'actuarial-exams', 'name': 'Actuarial Exams', 'id': 131395}, {'urlkey': 'actuarial-science', 'name': 'Actuarial Science', 'id': 169050}, {'urlkey': 'actuary', 'name': 'Actuary', 'id': 169051}, {'urlkey': 'actuarial-students', 'name': 'Actuarial Students', 'id': 640162}]","[New Technology, Wellness, professional-networking, Education, Data Analytics, Knowledge Sharing, Professional Development, Intellectual Discussion, Communication Skills, Actuarial Exams, Actuarial Science, Actuary, Actuarial Students]"
3,Adam Stolz,[],[]
4,Aki,[],[]
5,Alessandra Visentini,"[{'urlkey': 'reading', 'name': 'Reading', 'id': 15360}, {'urlkey': 'international-friends', 'name': 'International Friends', 'id': 50881}, {'urlkey': 'shopping', 'name': 'Shopping', 'id': 9349}, {'urlkey': 'beach', 'name': 'Beach', 'id': 10567}, {'urlkey': 'fiction', 'name': 'Fiction', 'id': 15113}, {'urlkey': 'makeup', 'name': 'Makeup', 'id': 1481}, {'urlkey': 'africanmusic', 'name': 'African Music', 'id': 138}, {'urlkey': 'dance-lessons', 'name': 'Dance Lessons', 'id': 19146}, {'urlkey': 'womens-empowerment', 'name': 'Women's Empowerment', 'id': 17933}, {'urlkey': 'fun-times', 'name': 'Fun Times', 'id': 15117}, {'urlkey': 'bookclub', 'name': 'Book Club', 'id': 2767}, {'urlkey': 'sailing', 'name': 'Sailing', 'id': 1176}, {'urlkey': 'womens-book-club', 'name': 'Women's Book Club', 'id': 26397}, {'urlkey': 'professional-women', 'name': 'Professional Women', 'id': 26273}, {'urlkey': 'salsa', 'name': 'Salsa', 'id': 1122}, {'urlkey': 'business-strategy', 'name': 'Business Strategy', 'id': 17635}, {'urlkey': 'recreational-sports', 'name': 'Recreational Sports', 'id': 131178}, {'urlkey': 'music', 'name': 'Music', 'id': 15018}, {'urlkey': 'fun-and-laughter', 'name': 'Fun and Laughter', 'id': 18795}, {'urlkey': '20s-30s-social', 'name': '20's & 30's Social', 'id': 17201}, {'urlkey': 'film', 'name': 'Film', 'id': 15029}, {'urlkey': 'esl', 'name': 'English as a Second Language', 'id': 182}, {'urlkey': 'weekend-adventures', 'name': 'Weekend Adventures', 'id': 16438}, {'urlkey': 'outdoor-fitness', 'name': 'Outdoor Fitness', 'id': 15672}, {'urlkey': 'conversation', 'name': 'Conversation', 'id': 15099}, {'urlkey': 'classicfilms', 'name': 'Classic Films', 'id': 1724}, {'urlkey': 'fashion-design', 'name': 'Fashion Design', 'id': 21437}, {'urlkey': 'movies-in-movie-theaters', 'name': 'Movies in Movie Theaters', 'id': 43390}, {'urlkey': 'fashion-and-style', 'name': 'Fashion and Style', 'id': 16575}]","[Reading, International Friends, Shopping, Beach, Fiction, Makeup, African Music, Dance Lessons, Women's Empowerment, Fun Times, Book Club, Sailing, Women's Book Club, Professional Women, Salsa, Business Strategy, Recreational Sports, Music, Fun and Laughter, 20's & 30's Social, Film, English as a Second Language, Weekend Adventures, Outdoor Fitness, Conversation, Classic Films, Fashion Design, Movies in Movie Theaters, Fashion and Style]"

In [35]:
members_df['topics2'].head(10).str.join(sep=',').str.get_dummies(sep=',')

,Drinking,Etc,Laughing,Talking,20's & 30's Social,3D Artists,Acting,Actuarial Exams,Actuarial Science,Actuarial Students,...,Video Editing,Walking,Watching Movies,Weekend Adventures,Weight Loss,Wellness,Wine,Women's Book Club,Women's Empowerment,professional-networking
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,1,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,1,1,0,0,0,...,1,1,0,0,1,0,0,0,0,0
9,1,1,1,1,1,0,0,0,0,0,...,0,1,1,0,0,0,1,0,0,0

In [36]:
topics_df = members_df['topics2'].str.join(sep=',').str.get_dummies(sep=',')

In [37]:
topics_df.shape

(5203, 3581)

In [38]:
topics_df.head()

,Adventure,All Levels Welcome,Archery and Medieval Martial Arts,Audits),BBQs,Backpacking,Biking,CCIE,Camping,Career Changers,...,urdu-english conversation exchange,vim,walkers,watch enthusiasts,weekend-adventures,wine country activies,wine-and-food-pairing,word of mouth referral marketing,write,youtubers
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

frequent_itemsets = apriori(topics_df, min_support=0.07, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

            antecedants           consequents   support  confidence      lift
0  (Big Data)            (Startup Businesses)  0.232558  0.338843    1.718324
1  (Startup Businesses)  (Big Data)            0.197194  0.399610    1.718324
2  (Big Data)            (Cloud Computing)     0.232558  0.333884    2.640122
3  (Cloud Computing)     (Big Data)            0.126466  0.613982    2.640122
4  (Data Analytics)      (Open Source)         0.264271  0.292364    1.998907

In [40]:
rules[ (rules['lift'] >= 2) &
       (rules['confidence'] >= 0.2) ]

,antecedants,consequents,support,confidence,lift
2,(Big Data),(Cloud Computing),0.232558,0.333884,2.640122
3,(Cloud Computing),(Big Data),0.126466,0.613982,2.640122
6,(Technology Startups),(Software Development),0.145109,0.545695,2.686143
7,(Software Development),(Technology Startups),0.203152,0.389782,2.686143
10,(Data Analytics),(Computer programming),0.264271,0.310545,2.045276
11,(Computer programming),(Data Analytics),0.151835,0.540506,2.045276
14,(New Technology),(Open Source),0.303287,0.344106,2.352675
15,(Open Source),(New Technology),0.146262,0.713535,2.352675
16,(Big Data),(Open Source),0.232558,0.317355,2.169777
17,(Open Source),(Big Data),0.146262,0.504599,2.169777
18,(Data Analytics),(Business Intelligence),0.264271,0.330182,2.409447
19,(Business Intelligence),(Data Analytics),0.137036,0.636746,2.409447
20,(Startup Businesses),(Business Strategy),0.197194,0.359649,3.077721
21,(Business Strategy),(Startup Businesses),0.116856,0.606908,3.077721
22,(Computer programming),(Software Development),0.151835,0.648101,3.190228
23,(Software Development),(Computer programming),0.203152,0.484390,3.190228
24,(Big Data),(Machine Learning),0.232558,0.309917,2.905405
25,(Machine Learning),(Big Data),0.106669,0.675676,2.905405
26,(Data Analytics),(Data Science),0.264271,0.267636,3.067207
27,(Data Science),(Data Analytics),0.087257,0.810573,3.067207
28,(Open Source),(Software Development),0.146262,0.599212,2.949572
29,(Software Development),(Open Source),0.203152,0.431410,2.949572
34,"(Data Analytics, Big Data)",(Data Visualization),0.139727,0.574966,5.419468
35,"(Data Analytics, Data Visualization)",(Big Data),0.094561,0.849593,3.653252
36,"(Big Data, Data Visualization)",(Data Analytics),0.086104,0.933036,3.530607
37,(Data Analytics),"(Big Data, Data Visualization)",0.264271,0.304000,3.530607
38,(Big Data),"(Data Analytics, Data Visualization)",0.232558,0.345455,3.653252
39,(Data Visualization),"(Data Analytics, Big Data)",0.106093,0.757246,5.419468
40,(Data Analytics),(Data Mining),0.264271,0.327273,3.482209
41,(Data Mining),(Data Analytics),0.093984,0.920245,3.482209
...,...,...,...,...,...
78,(Big Data),"(Data Analytics, Data Mining)",0.232558,0.318182,3.678889
79,(Data Mining),"(Data Analytics, Big Data)",0.093984,0.787321,5.634706
80,(Data Analytics),(Machine Learning),0.264271,0.304727,2.856750
81,(Machine Learning),(Data Analytics),0.106669,0.754955,2.856750
82,"(New Technology, Computer programming)",(Software Development),0.099366,0.750484,3.694197
83,"(New Technology, Software Development)",(Computer programming),0.146454,0.509186,3.353540
84,"(Computer programming, Software Development)",(New Technology),0.098405,0.757812,2.498668
85,(New Technology),"(Computer programming, Software Development)",0.303287,0.245881,2.498668
86,(Computer programming),"(New Technology, Software Development)",0.151835,0.491139,3.353540
87,(Software Development),"(New Technology, Computer programming)",0.203152,0.367077,3.694197
90,(New Technology),(Computer programming),0.303287,0.327630,2.157795
91,(Computer programming),(New Technology),0.151835,0.654430,2.157795
92,(New Technology),(Software Development),0.303287,0.482890,2.376987
93,(Software Development),(New Technology),0.203152,0.720908,2.376987
94,(Predictive Analytics),(Data Visualization),0.104747,0.700917,6.606655
95,(Data Visualization),(Predictive Analytics),0.106093,0.692029,6.606655
96,(Big Data),(Predictive Analytics),0.232558,0.358678,3.424220
97,(Predictive Analytics),(Big Data),0.104747,0.796330,3.424220
98,"(New Technology, Open Source)",(Software Development),0.104363,0.674033,3.317876
99,"(New Technology, Software Development)",(Open Source),0.146454,0.480315,3.283941
100,"(Open Source, Software Development)",(New Technology),0.087642,0.802632,2.646446
101,(New Technology),"(Open Source, Software Development)",0.303287,0.231939,2.646446
102,(Open Source),"(New Technology, Software Development)",0.146262,0.480946,3.283941
103,(Software Development),"(New Technology, Open Source)",0.203152,0.346263,3.317876
104,(Data Analytics),(Big Data),0.264271,0.528727,2.273527
105,(Big Data),(Data Analytics),0.232558,0.600826,2.273527
106,(Data Analytics),(Data Visualization),0.264271,0.357818,3.372696
107,(Data Visualization),(Data Analytics),0.106093,0.891304,3.372696
108,(Business Intelligence),(Big Data),0.137036,0.570827,2.454558
109,(Big Data),(Business Intelligence),0.232558,0.336364,2.454558

# Part 3. Webscraping <a class="anchor" id="part3"></a>

### Important notes

- Grey area
- Should be the last resort
- Don't harm the website
- Slow down the process, e.g. `time.sleep(seconds)`

We'll be scraping the first page of http://www.actuaries.digital/

In [41]:
from bs4 import BeautifulSoup
import requests
page_link ='http://www.actuaries.digital/'

# fetch the content from url
page_response = requests.get(page_link, timeout=5)

# parse html
page_content = BeautifulSoup(page_response.content, "html.parser")

In [42]:
post = page_content.find_all(class_='post-list-item')[0]

In [43]:
post

<div class="post-list-item">
<div class="list-thumb"><a href="https://www.actuaries.digital/2018/06/25/housing-wealth-and-retirement-funding-an-update/"><img alt="" class="attachment-list-thumb size-list-thumb wp-post-image" height="154" sizes="(max-width: 230px) 100vw, 230px" src="https://www.actuaries.digital/wp-content/uploads/2018/06/iStock-615104368-230x154.jpg" srcset="https://www.actuaries.digital/wp-content/uploads/2018/06/iStock-615104368-230x154.jpg 230w, https://www.actuaries.digital/wp-content/uploads/2018/06/iStock-615104368-400x268.jpg 400w, https://www.actuaries.digital/wp-content/uploads/2018/06/iStock-615104368-768x514.jpg 768w, https://www.actuaries.digital/wp-content/uploads/2018/06/iStock-615104368-960x643.jpg 960w, https://www.actuaries.digital/wp-content/uploads/2018/06/iStock-615104368.jpg 1251w" width="230"/></a></div><h2><a href="https://www.actuaries.digital/2018/06/25/housing-wealth-and-retirement-funding-an-update/">Housing Wealth and Retirement Funding - An Update</a></h2><p>With the 2018-19 Federal Budget announcement of an expansion of the little-known Pension Loans Scheme, it is timely to revisit the hurdles to be overcome before housing can play a meaningful role in meeting Australia’s future retirement income challenge.</p><p class="post-date">Posted on: June 25, 2018</p><p class="post-tags"><span class="icon-sprite icon-tag replace-text">Tags:</span> <a href="https://www.actuaries.digital/tag/housing-wealth/" rel="tag">housing wealth</a>, <a href="https://www.actuaries.digital/tag/retirement/" rel="tag">Retirement</a>, <a href="https://www.actuaries.digital/tag/retirement-income/" rel="tag">Retirement Income</a></p> </div>

In [44]:
post.find('h2')

In [45]:
post.find('h2').text

'Housing Wealth and Retirement Funding - An Update'

In [46]:
post.find('a').attrs['href']

'https://www.actuaries.digital/2018/06/25/housing-wealth-and-retirement-funding-an-update/'

In [47]:
post.find(class_='post-date').text

'Posted on: June 25, 2018'

In [48]:
heading_list = []
link_list = []
date_list = []

for post in page_content.find_all(class_='post-list-item'):
    heading_list = heading_list + [post.find('h2').text]
    link_list = link_list + [post.find('a').attrs['href']]
    date_list = date_list + [post.find(class_='post-date').text]

In [49]:
posts = pd.DataFrame({'heading': heading_list, 'link': link_list, 'date': date_list})
posts.shape

(20, 3)

In [50]:
posts

,date,heading,link
0,"Posted on: June 25, 2018",Housing Wealth and Retirement Funding - An Update,https://www.actuaries.digital/2018/06/25/housing-wealth-and-retirement-funding-an-update/
1,"Posted on: June 25, 2018",Aggregators within health – Part 2,https://www.actuaries.digital/2018/06/25/aggregators-within-health-phi-2/
2,"Posted on: June 22, 2018",Why is this the most exciting time to be a young actuary? - YAC 2018 report,https://www.actuaries.digital/2018/06/22/why-is-this-the-most-exciting-time-to-be-a-young-actuary/
3,"Posted on: June 21, 2018",Meeting Challenges in Insurance and Super,https://www.actuaries.digital/2018/06/21/meeting-challenges-in-insurance-and-super/
4,"Posted on: June 21, 2018",CEO Column,https://www.actuaries.digital/2018/06/21/ceo-column/
5,"Posted on: June 19, 2018",A different road to success - Interview with Martin Fry,https://www.actuaries.digital/2018/06/19/a-different-road-to-success-interview-with-martin-fry/
6,"Posted on: June 15, 2018",Proposed changes to the Institute’s Disciplinary Scheme,https://www.actuaries.digital/2018/06/15/proposed-changes-to-the-institutes-disciplinary-scheme/
7,"Posted on: June 14, 2018",The Appointed Actuary Role: Back to the future,https://www.actuaries.digital/2018/06/14/the-appointed-actuary-role-back-to-the-future/
8,"Posted on: June 14, 2018",Analytics Snippet: In the Library,https://www.actuaries.digital/2018/06/14/analytics-snippet-in-the-library/
9,"Posted on: June 8, 2018",Actuarial Hackathon Presentation Showcase 2018!,https://www.actuaries.digital/2018/06/08/actuarial-hackathon-presentation-showcase-2018/
10,"Posted on: June 7, 2018",Climate Change Working Group to Date,https://www.actuaries.digital/2018/06/07/climate-change-working-group-to-date/
11,"Posted on: June 7, 2018","Trust us, we are here for you - Rebuilding trust in Financial Services",https://www.actuaries.digital/2018/06/07/trust-us-we-are-here-for-you-rebuilding-trust-in-financial-services/
12,"Posted on: June 6, 2018",Mission Possible – reviving the ‘M’ in STEM,https://www.actuaries.digital/2018/06/06/mission-possible-reviving-the-m-in-stem/
13,"Posted on: June 6, 2018",CareerView Podcast - Diversity & Inclusion,https://www.actuaries.digital/2018/06/06/careerview-podcast-diversity-inclusion/
14,"Posted on: June 6, 2018",Do you know your International Committee?,https://www.actuaries.digital/2018/06/06/do-you-know-your-international-committee/
15,"Posted on: June 4, 2018",Healthy competition at actuaries’ latest trivia night in Melbourne,https://www.actuaries.digital/2018/06/04/healthy-competition-at-actuaries-latest-trivia-night-in-melbourne/
16,"Posted on: June 1, 2018",Actuaries Digital download and print edition - May 2018,https://www.actuaries.digital/2018/06/01/actuaries-digital-download-and-print-edition-may-2018/
17,"Posted on: June 1, 2018",Under the Spotlight - Marjorie Ngwenya,https://www.actuaries.digital/2018/06/01/under-the-spotlight-marjorie-ngwenya/
18,"Posted on: June 1, 2018",Q&A; with QBE Chief Risk Officer Mark Baxter,https://www.actuaries.digital/2018/06/01/qa-with-qbe-chief-risk-officer-mark-baxter/
19,"Posted on: May 30, 2018",Innovation: the key to maintaining relevance for global qualifications,https://www.actuaries.digital/2018/05/30/innovation-the-key-to-maintaining-relevance-for-global-qualifications/